body {
    font-family: 'Poly', serif;
}


h1 {
    font-family: 'Varela Round', sans-serif;
    background: 
    #d6d6d6;
    padding: 2px;
}
h1 {
    font-family: 'Varela Round', sans-serif;
    background: 
    #d6d6d6;
    padding: 2px;
}


h1 {   
    font-family: 'Varela Round', sans-serif;
    background: 
     #d6d6d6;
    padding: 2px;
}

h1 {   
    font-family: 'Varela Round', sans-serif;
    background: #d6d6d6;
    padding: 
    2px;

}



/* this has been auto-removed vide ref: enum=5|targetcss=1.css*/
h2 {
    font-family: 'Varela Round', sans-serif;    
    padding: 2px;
}


.action {
    margin-left: 10px;
    font-size: 11px;
}


div#header * {
    display: inline;
}


div#header {
    margin-top: 20px;
}

div#projects {
    margin-top: 2px;
    padding: 2px;
    border: 1px solid #d6d6d6;
}

div#add_form {
    padding: 2px;
    border: 1px solid black;
}