
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
img {
    height: auto;
}
img, object, embed {
    max-width: 100%;
}
img {
}
html, button, input, select, textarea {
    color: #222;
}
*::-moz-selection {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #b3d4fc;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #f2f0ea;
    text-shadow: none;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    height: 1px;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ccc;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #000;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.2em;
}
body {
    color: #2d261f;
    font-family: "ff-meta-serif-web-pro","Droid Serif","Georgia","Times New Roman",serif;
    font-size: 1.6rem;
    line-height: 1.1;
}
p {
    line-height: 24px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
small {
    font-weight: 500;
}
a {
    color: #b1855a;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
a:focus {
    outline-color: -moz-use-text-color;
    outline-style: dotted;
    outline-width: thin;
}
a:hover, a:active {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}
h1 {
    font-size: 10rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
h2 {
    font-size: 7.2rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
h3 {
    font-size: 6rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
h4 {
    font-size: 2.1rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
h5 {
    font-size: 1.8rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
h6 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.sans-serif {
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.serif {
    font-family: "ff-meta-serif-web-pro","Droid Serif","Georgia","Times New Roman",serif;
}
.transitions {
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
html, body {
    background-color: #f2f0ea;
    height: 100%;
    width: 100%;
}
#homepage_splash {
    background-color: #1d1711;
    color: #f2f0ea;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.scrolldown {
    bottom: 20px;
    color: #f2f0ea;
    display: block;
    font-size: 50px;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease-in-out;
    width: 100%;
    z-index: 20;
}
.header-jump {
    display: block;
    height: 100%;
    width: 100%;
}
.scrolldown:hover {
    color: #463f39;
}
.graphicwrapper {
    height: 100%;
    position: relative;
}
#blackhistory_graphic {
    height: 100%;
    position: relative;
}
.container {
    height: 100%;
}
#topbar {
    background-color: #1d1711;
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 0;
    color: #f2f0ea;
    height: 60px;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 0;
    padding-top: 15px;
    width: 100%;
    z-index: 90;
}
.postpage .sticky-wrapper {
    position: fixed;
    width: 100%;
    z-index: 90;
}
.sticky-wrapper {
    height: 60px !important;
    width: 100%;
    z-index: 90;
}
.stuck {
    position: fixed;
    top: 0;
}
.wordmark {
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #2f2820;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    color: #f2f0ea;
    display: block;
    float: left;
    font-size: 2rem;
    font-weight: 900;
    height: 30px;
    letter-spacing: 0;
    line-height: 30px;
    text-transform: uppercase;
    width: 290px;
}
.wordmark:hover .darken {
    color: #f2f0ea !important;
    padding-right: 6px;
}
.darken {
    color: #463f39;
    padding-right: 0;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.navigation {
    float: left;
    font-size: 2rem;
    height: 30px;
    line-height: 30px;
    margin-left: 12px;
}
.navigation a {
    color: #463f39;
    padding-right: 3px;
}
.navigation a:hover {
    color: #f2f0ea;
}
.navigation i {
    position: relative;
    top: 2px;
}
.about {
    cursor: help;
}
.filter {
    cursor: context-menu;
}
#backtotop {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #2f2820;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    display: inline-block;
    margin-left: 7px;
    padding-left: 7px;
}
#filter {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}
#filter nav a {
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    color: #b1855a;
    display: block;
    letter-spacing: 3px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
#filter nav a h4 {
    font-size: 2.4rem;
    font-weight: 200;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
#filter i {
    display: inline-block;
    transform: scale(0.5);
}
#filter nav a:last-child {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
}
#filter nav a:hover {
    background-color: #e6e3db;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    color: #b1855a;
}
#filter nav a:hover h4 {
}
#filter h3 {
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 3.6rem;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: center;
}
.scrollblock {
    position: relative;
}
.index_post {
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.index_post:hover {
}
.index_post:first-child {
    border-top-color: #e6e3db;
    border-top-style: solid;
    border-top-width: 1px;
}
.index_post a {
    background-color: transparent;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    color: #463f39;
    display: block;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 100%;
}
.index_post a:hover {
    background-color: #e6e3db;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    color: #463f39;
}
.index_post a:active {
    background-color: #463f39;
    color: #f2f0ea;
}
.post_headline {
    font-weight: 100;
    height: 100%;
    line-height: 1;
    opacity: 1;
    position: relative;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 100%;
}
.index_post a .post_headline i {
    display: block;
    height: 100%;
    line-height: 100%;
    position: absolute;
    right: 0;
    width: 60px;
}
.index_post a:hover .post_headline {
    opacity: 1;
}
.index_post a .description {
    display: none;
    font-weight: 100;
    height: 100%;
    line-height: 1;
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 100%;
}
.index_post a:hover .description {
    display: block;
    opacity: 1;
}
.tag_search {
    background-color: #463f39;
    color: #cbb190;
    cursor: default;
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    text-align: left;
}
.tag_search strong {
    font-weight: 700;
}
#postpage_splash {
    background-color: #f2f0ea;
    color: #f2f0ea;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
.postpage.addthis_toolbox {
    bottom: 10px;
    left: 65px;
    position: absolute;
    z-index: 89;
}
@media only screen and (max-width: 768px) {
.postpage.addthis_toolbox {
    left: 25px !important;
}
}
.postpage_wrap {
    background-color: #1d1711;
    background-position: center bottom;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.postpage_headline {
    bottom: 0;
    color: #f2f0ea;
    font-size: 7.6rem;
    font-weight: 900;
    line-height: 0.9;
    max-height: 900px;
    padding-bottom: 50px;
    padding-left: 60px;
    position: absolute;
    text-shadow: 0 0 50px #1d1711;
    width: 50%;
    z-index: 85;
}
.postpage_headline a {
    color: #f2f0ea;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
}
.postpage_headline a:hover {
    opacity: 0.7;
}
.article_wrapper {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}
.copy img {
    display: none;
    height: 1px;
    position: absolute;
    width: 1px;
}
.copy .video iframe {
    padding-bottom: 10px;
}
#copy {
    padding-top: 90px;
    position: absolute;
    top: -90px;
    z-index: 80;
}
.article_wrapper {
    position: relative;
}
.copy {
    -moz-column-count: 1;
    -moz-column-gap: 45px;
    color: #463f39;
    float: left;
    padding-right: 50px;
    width: 65%;
}
.copy-wrapper {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1124px;
}
.copy .addthis_toolbox {
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.copy .addthis_toolbox:hover {
    opacity: 1;
}
.copy a:hover {
    color: #2d261f;
}
.copy h2 {
    clear: both;
    color: #2d261f;
    font-weight: 800;
    margin-bottom: 15px;
    width: 100%;
}
.copy ul li {
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 85%;
    font-weight: bold;
    list-style-type: disc;
    margin-bottom: 5px;
}
small, p small, .small {
    display: block;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.copy blockquote {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #cbb190;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 4px;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-weight: 700;
    line-height: 1.1;
    margin-left: 15px;
    padding-left: 15px;
}
.bigshare {
    float: left;
    position: relative;
    width: 35%;
}
.bigshare a {
    display: inline-block !important;
    height: 100%;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    position: relative;
}
.bigshare a:hover {
    opacity: 0.9;
}
.share_container {
    color: #ffffff;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    text-align: center;
    width: 100%;
}
.share-icons {
    margin-bottom: 25px;
}
.share-icons span {
    cursor: pointer;
    display: block;
    float: left;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 33.3333%;
}
.share-icons span:hover {
    transform: scale(1.1, 1.1);
}
.share-icons a, .share-icons a:focus {
    cursor: pointer !important;
    display: inline-block !important;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
}
.share-icons a iframe, .like_button {
    cursor: pointer !important;
}
.notecount {
    text-transform: uppercase;
}
.notecount div {
}
.notecount span {
    border-top-color: rgba(242, 240, 234, 0.2);
    border-top-style: solid;
    border-top-width: 1px;
    display: inline-block;
    padding-bottom: 0;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 25px;
    width: 80%;
}
#at3winfooter {
    position: relative !important;
    top: -10px !important;
}
.at3lblight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(45, 38, 31, 0.9);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.arrow_box {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2d261f;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    cursor: default;
    position: absolute;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.arrow_box:hover {
    background-color: #2d261f;
}
.arrow_box::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: transparent;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 0;
}
.arrow_box::after {
    border-bottom-color: rgba(45, 38, 31, 0);
    border-bottom-width: 30px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(45, 38, 31, 0);
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 30px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #2d261f;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 30px;
    border-top-color: rgba(45, 38, 31, 0);
    border-top-width: 30px;
    margin-top: -30px;
    top: 50px;
}
.tags {
    clear: both;
    float: left;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    opacity: 0.5;
}
.tags:hover {
    opacity: 1;
}
.tags a:hover {
    color: #463f39;
}
.commentwrapper {
    border-top-color: #e6e3db;
    border-top-style: solid;
    border-top-width: 1px;
    clear: both;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    width: 100%;
}
#disqus_thread {
    clear: both;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 80%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#footer_content {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    padding-bottom: 90px !important;
    position: relative;
}
#footer_content a {
    color: #cbb190;
}
.index_nav {
    font-weight: 900;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.index_nav a {
    background-color: #eeebe4;
    display: block;
    font-size: 3.8rem;
    height: 94px;
    line-height: 94px;
    position: relative;
    text-align: center;
    width: 48%;
}
.index_nav a:hover {
    background-color: #2d261f;
    color: #f2f0ea !important;
}
.index_nav a:active {
    right: -2px;
    top: 2px;
}
.previous {
    float: left;
    margin-right: 2%;
}
.next {
    float: right;
    margin-left: 2%;
}
.previous:hover i {
    margin-right: 6px;
}
.next:hover i {
    margin-left: 6px;
}
#search-box {
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    width: 100%;
}
#search-form {
    background-color: #fff;
    height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#search-text {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-width: 0;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-width: 0;
    color: #2d261f;
    font-size: 2rem;
    font-weight: 200;
}
#search-box input[type="text"] {
    color: #2d261f;
    font-family: "ff-meta-serif-web-pro","Droid Serif","Georgia","Times New Roman",serif;
    height: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    width: 90%;
}
#search-button {
    background-color: #2d261f;
    border-bottom-width: 0;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-width: 0;
    color: #f2f0ea;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 200;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    width: 100px;
}
#search-button:hover {
    background-color: #463f39;
}
.st-metadata {
    color: #463f39;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
}
#search-button:active {
    right: -2px;
    top: 2px;
}
:-moz-placeholder {
    color: #cbb190;
}
*::-moz-placeholder {
    color: #cbb190 !important;
}
.gsc-control-cse {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ffffff;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ffffff;
    border-top-color: #ffffff;
    font-family: "ff-meta-serif-web-pro","Droid Serif","Georgia","Times New Roman",serif !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}
.cse .gsc-control-cse, .gsc-control-cse {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}
.gsc-control-cse .gsc-table-result {
    font-family: "ff-meta-serif-web-pro","Droid Serif","Georgia","Times New Roman",serif !important;
}
input.gsc-input, input.gsc-input:focus {
    border-bottom-color: #ffffff !important;
    border-left-color-ltr-source: physical !important;
    border-left-color-rtl-source: physical !important;
    border-left-color-value: #ffffff !important;
    border-right-color-ltr-source: physical !important;
    border-right-color-rtl-source: physical !important;
    border-right-color-value: #ffffff !important;
    border-top-color: #ffffff !important;
    box-shadow: none !important;
}
input.gsc-search-button {
    background-color: #2d261f !important;
    border-bottom-color: #2d261f !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 0 !important;
    border-left-color-ltr-source: physical !important;
    border-left-color-rtl-source: physical !important;
    border-left-color-value: #2d261f !important;
    border-left-width-ltr-source: physical !important;
    border-left-width-rtl-source: physical !important;
    border-left-width-value: 0 !important;
    border-right-color-ltr-source: physical !important;
    border-right-color-rtl-source: physical !important;
    border-right-color-value: #2d261f !important;
    border-right-width-ltr-source: physical !important;
    border-right-width-rtl-source: physical !important;
    border-right-width-value: 0 !important;
    border-top-color: #2d261f !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-width: 0 !important;
    color: #f2f0ea !important;
    cursor: pointer !important;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 2rem !important;
    font-weight: 700 !important;
    height: 100% !important;
    line-height: 50px !important;
    position: absolute !important;
    right: 0 !important;
    text-align: center !important;
    top: 0 !important;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    width: 100px !important;
}
.gsc-tabHeader.gsc-tabhInactive {
    background-color: #b1855a !important;
    border-bottom-color: #b1855a !important;
    border-left-color-ltr-source: physical !important;
    border-left-color-rtl-source: physical !important;
    border-left-color-value: #b1855a !important;
    border-right-color-ltr-source: physical !important;
    border-right-color-rtl-source: physical !important;
    border-right-color-value: #b1855a !important;
    border-top-color: #b1855a !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.gsc-tabHeader.gsc-tabhActive {
    background-color: #2d261f !important;
    border-bottom-color: #2d261f !important;
    border-left-color-ltr-source: physical !important;
    border-left-color-rtl-source: physical !important;
    border-left-color-value: #2d261f !important;
    border-right-color-ltr-source: physical !important;
    border-right-color-rtl-source: physical !important;
    border-right-color-value: #2d261f !important;
    border-top-color: #2d261f !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.gsc-tabsArea {
    border-bottom-color: #461200;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #461200;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #461200;
    border-top-color: #461200;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ffffff;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ffffff;
    border-top-color: #ffffff;
}
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ffffff;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ffffff;
    border-top-color: #ffffff;
}
.gsc-webResult.gsc-result.gsc-promotion:hover {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ffffff;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ffffff;
    border-top-color: #ffffff;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    color: #950000;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: bold !important;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #950000;
}
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
    color: #950000;
}
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
    color: #950000;
}
.gsc-cursor-page {
    color: #950000;
}
a.gsc-trailing-more-results:link {
    color: #950000;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: #624c36 !important;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: #a25b08;
}
.gs-webResult div.gs-visibleUrl-short {
    color: #a25b08;
}
.gs-webResult div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long {
    display: block;
}
.gs-promotion div.gs-visibleUrl-short {
    display: none;
}
.gs-promotion div.gs-visibleUrl-long {
    display: block;
}
.gsc-cursor-box {
    border-bottom-color: #ffffff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ffffff;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ffffff;
    border-top-color: #ffffff;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ffffff;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ffffff;
    border-top-color: #ffffff;
    color: #cbb190 !important;
    font-size: 2rem !important;
    height: 25px !important;
    padding-bottom: 0 !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 0 !important;
    text-decoration-color: -moz-use-text-color !important;
    text-decoration-line: none !important;
    text-decoration-style: solid !important;
    width: 25px !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: #461200;
    border-bottom-color: #461200;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #461200;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #461200;
    border-top-color: #461200;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: #950000;
    font-size: 2rem !important;
    height: 25px !important;
    padding-bottom: 0 !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 0 !important;
    width: 25px !important;
}
.gsc-webResult.gsc-result.gsc-promotion {
    background-color: #ffffcc;
    border-bottom-color: #fefedc;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #fefedc;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #fefedc;
    border-top-color: #fefedc;
}
.gsc-completion-title {
    color: #950000;
}
.gsc-completion-snippet {
    color: #624c36 !important;
}
.gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link *, .gs-promotion .gs-snippet a:link {
    color: #0000cc;
}
.gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited *, .gs-promotion .gs-snippet a:visited {
    color: #0000cc;
}
.gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover *, .gs-promotion .gs-snippet a:hover {
    color: #0000cc;
}
.gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active *, .gs-promotion .gs-snippet a:active {
    color: #0000cc;
}
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: #624c36 !important;
}
.gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl-short {
    color: #a25b08;
}
.gs-web-image-box, .gs-promotion-image-box {
    margin-right: 10px !important;
}
.gsc-table-result {
    margin-bottom: 20px !important;
}
.gsc-adBlock {
    background-color: #f2f0ea !important;
}
.gs-image {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.gsc-table-result:hover img {
    opacity: 0.65;
    transform: translateY(-5px);
}
.gsc-input {
    color: #cbb190 !important;
    font-family: "ff-meta-serif-web-pro","Droid Serif","Georgia","Times New Roman",serif !important;
    font-size: 2rem !important;
    outline-color: -moz-use-text-color !important;
    outline-style: none !important;
    outline-width: medium !important;
}
.gsc-results-wrapper-visible {
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
#social {
    color: #cbb190;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}
#social a {
    padding-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0;
}
#social a i {
    font-size: 1.8rem;
    font-weight: 100;
}
#social a:hover {
    color: #463f39;
}
#social p a:first-child {
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 3px;
    padding-top: 0;
}
#social .iconfirst {
}
.addthis_button_facebook_like {
    position: relative;
    top: -4px;
}
.addthis_button_facebook_like, .addthis_button_tweet {
    display: inline-block;
    padding-bottom: 3px;
}
#footer_content .addthis_toolbox {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.reveal-modal-bg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(45, 38, 31, 1);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 91;
}
.reveal-modal {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f2f0ea;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: none;
    left: 50%;
    margin-left: -260px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    position: absolute;
    top: 100px;
    visibility: hidden;
    width: 520px;
    z-index: 92;
}
.reveal-modal .close-reveal-modal:not(.button) {
    color: #2d261f;
    cursor: pointer;
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 7.2rem;
    font-weight: 100;
    line-height: 0.5;
    position: absolute;
    right: 11px;
    top: 8px;
}
.reveal-modal.small {
    margin-left: -15%;
    width: 30%;
}
.reveal-modal.medium {
    margin-left: -20%;
    width: 40%;
}
.reveal-modal.large {
    margin-left: -30%;
    width: 60%;
}
.reveal-modal.xlarge {
    margin-left: -35%;
    width: 70%;
}
.reveal-modal.expand {
    margin-left: -45%;
    width: 90%;
}
.reveal-modal .row {
    margin-bottom: 10px;
    min-width: 0;
}
.reveal-modal > *:first-child {
    margin-top: 0;
}
.reveal-modal > *:last-child {
    margin-bottom: 0;
}
.reveal-modal h1, .reveal-modal h2, .reveal-modal h3, .reveal-modal h4, .reveal-modal h5, .reveal-modal h6 {
    font-family: "futura-pt","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
.reveal-modal p, .reveal-modal small {
    color: #cbb190;
    font-style: italic;
}
.reveal-modal p a, .reveal-modal small a {
    color: #b1855a;
}
.reveal-modal small {
    font-weight: 700;
}
#about h3 {
    font-size: 3.5rem;
    text-align: center;
}
#about p, #about small {
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
}
.reveal_follow {
    padding-right: 10px;
}
@media print {
.reveal-modal {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: black;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: black;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
}
}
@media only screen and (max-width: 500px) {
#blackhistory_graphic {
    background-image: url("../img/titlegraphic_animate_380.gif");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: transparent;
    height: 100%;
    margin-left: 20px;
    max-width: 380px !important;
}
#blackhistory_graphic h1 {
    font-size: 30px;
}
.wordmark {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    float: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}
.navigation {
    float: none;
    font-size: 2.5rem;
    height: 30px;
    line-height: 30px;
    margin-left: 0;
    margin-top: 5px;
    width: 100%;
}
#topbar {
    background-color: #1d1711;
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 0;
    color: #f2f0ea;
    height: 120px;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 30px !important;
    text-align: center;
    width: 100%;
}
.wordmark, .navigation {
    left: -10px;
    position: relative;
}
.tag_search {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.index_post {
    text-align: center;
}
.sticky-wrapper {
    height: 120px !important;
}
.postpage_headline {
    padding-bottom: 50px;
    padding-left: 20px;
}
#copy {
    padding-top: 120px;
    top: -120px;
}
.copy {
    float: none;
    margin-right: 0 !important;
    padding-right: 0;
    width: 100% !important;
}
.article_wrapper {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#disqus_thread {
    max-width: 100%;
}
#footer_content {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    position: relative;
}
.index_nav a {
    display: block;
    font-size: 2.4rem;
}
.mobile-break {
    display: block;
    margin-bottom: 10px;
}
.reveal-modal.large, .reveal-modal.medium, .reveal-modal.small {
    margin-left: -45%;
    width: 90%;
}
#filter nav a h4 {
    font-size: 1.6rem;
    font-weight: 400;
}
#filter nav a {
    letter-spacing: 0;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 0;
    padding-top: 15px;
}
#about p, #about small {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}
.gsc-results-wrapper-overlay {
    width: 90% !important;
}
.gsc-results-wrapper-visible {
    left: 5% !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
    width: 90% !important;
}
}
@media only screen and (min-width: 500px) {
#blackhistory_graphic {
    background-image: url("../img/titlegraphic_animate_380.gif");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: transparent;
    height: 100%;
    margin-left: 20px;
    max-width: 380px !important;
}
#blackhistory_graphic h1 {
    font-size: 30px;
}
#topbar {
    background-color: #1d1711;
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 0;
    color: #f2f0ea;
    height: 90px;
    padding-bottom: 0 !important;
    padding-left: 20px !important;
    padding-right: 0 !important;
    padding-top: 40px !important;
    text-align: left;
    width: 100%;
}
.sticky-wrapper {
    height: 90px !important;
}
.tag_search {
    padding-left: 20px;
    padding-right: 0;
    text-align: left;
}
.tag_search a {
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: 700;
}
.postpage_headline {
    padding-bottom: 50px;
    padding-left: 60px;
}
.article_wrapper {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}
#disqus_thread {
    max-width: 100%;
}
.reveal-modal.large {
    margin-left: -45%;
    width: 90%;
}
#footer_content {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    position: relative;
}
}
@media only screen and (min-width: 768px) {
#blackhistory_graphic {
    background-image: url("../img/titlegraphic_animate_600.gif");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: transparent;
    height: 100%;
    margin-left: 60px;
    max-width: 600px !important;
}
.reveal-modal.large {
    margin-left: -30%;
    width: 60%;
}
#topbar {
    height: 90px;
    padding-bottom: 0 !important;
    padding-left: 60px !important;
    padding-right: 0 !important;
    padding-top: 40px !important;
}
.sticky-wrapper {
    height: 90px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}
.tag_search {
    padding-left: 60px;
    text-align: left !important;
}
.postpage_headline {
    padding-bottom: 50px;
    padding-left: 60px;
}
.article_wrapper {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}
#disqus_thread {
    max-width: 80%;
}
#at15s {
    display: none;
}
}
@media only screen and (min-width: 1025px) {
#blackhistory_graphic {
    background-image: url("../img/titlegraphic_animate.gif");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    margin-left: 60px;
    max-width: 860px !important;
}
#topbar {
    background-color: #1d1711;
    border-bottom-color: #e6e3db;
    border-bottom-style: solid;
    border-bottom-width: 0;
    color: #f2f0ea;
    height: 60px;
    padding-bottom: 0 !important;
    padding-left: 60px !important;
    padding-right: 0 !important;
    padding-top: 15px !important;
    text-align: left;
    width: 100%;
    z-index: 90;
}
.postpage_headline {
    padding-bottom: 50px;
    padding-left: 60px;
}
.article_wrapper {
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}
.sticky-wrapper {
    height: 60px !important;
}
#at15s {
    display: none;
}
.reveal-modal.large {
    margin-left: -30%;
    width: 60%;
}
#footer_content {
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    position: relative;
}
}
@media only screen and (max-width: 1140px) {
.copy {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    width: 60%;
}
.bigshare {
    width: 40%;
}
}
@media only screen and (max-width: 768px) {
.index_post a {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
#topbar {
    padding-bottom: 0 !important;
    padding-left: 20px !important;
    padding-right: 0 !important;
    padding-top: 40px !important;
}
.postpage_headline {
    padding-bottom: 50px;
    padding-left: 20px;
}
.article_wrapper {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.copy {
    float: none;
    width: 90%;
}
#copy {
    padding-top: 120px;
    top: -120px;
}
.bigshare {
    float: none;
    width: 100%;
}
.bigshare a {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.share_container {
    margin-top: 40px;
    max-width: 100%;
}
.arrow_box {
    position: relative;
}
.arrow_box::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: transparent;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: transparent;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: medium;
    bottom: 100%;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 0;
}
.arrow_box::after {
    border-bottom-color: #2d261f;
    border-bottom-width: 30px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(45, 38, 31, 0);
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 30px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(45, 38, 31, 0);
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 30px;
    border-top-color: rgba(45, 38, 31, 0);
    border-top-width: 30px;
    left: 50%;
    margin-left: -30px;
    margin-top: -50px;
    top: 0;
}
#footer_content {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    position: relative;
}
#search-text {
    font-size: 1.6rem;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.reveal-modal.large {
    margin-left: -45%;
    width: 90%;
}
#at15s {
    display: block;
}
}
.screen-reader-text {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.screen-reader-text img {
    height: 0;
    width: 0;
}
.copy img.visibility {
    display: block !important;
    height: auto !important;
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
    visibility: visible !important;
    width: auto !important;
}
.ir {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.ir::before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -1px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: visible;
    overflow-y: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
}
@media print {
* {
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: transparent !important;
    background-image: none !important;
    background-origin: padding-box !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    background-size: auto auto !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
a[href]::after {
    content: " (" attr(href) ")";
}
abbr[title]::after {
    content: " (" attr(title) ")";
}
.ir a::after, a[href^="javascript:"]::after, a[href^="#"]::after {
    content: "";
}
pre, blockquote {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #999;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #999;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #999;
    border-top-style: solid;
    border-top-width: 1px;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
@page {
    margin-bottom: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    margin-top: 0.5cm;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
}
