
@font-face {
    font-family: "Relay";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/relaybold/98d9cd4b-23e0-44b6-a556-dd08af2f6c20-2.eot?") format("embedded-opentype"), url("/fonts/relaybold/98d9cd4b-23e0-44b6-a556-dd08af2f6c20-3.woff") format("woff"), url("/fonts/relaybold/98d9cd4b-23e0-44b6-a556-dd08af2f6c20-1.ttf") format("truetype");
}
a {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
a:hover {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.article #main-content-area {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 10px;
    position: relative;
}
.article #main-content-area .col1 {
    float: left;
    margin-bottom: 0;
    margin-left: 191px;
    margin-right: 12px;
    margin-top: 0;
    width: 467px;
}
.article #main-content-area .col1 video {
    height: auto !important;
    width: 100% !important;
}
.article #main-content-area .col2 {
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    width: 176px;
}
.article #main-content-area .col2.has-banner {
    top: 39px;
}
.article #main-content-area .col3 {
    float: left;
    width: 310px;
}
.article #article-head {
    float: none;
    width: 100%;
}
.article #article-head h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article #article-head h1 .prefix {
    color: #e01189;
    font-style: italic;
}
.article .landscape #article-head h1 {
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article #article-meta {
    color: #666666;
    display: block;
    float: right;
    font-size: 10px;
    position: relative;
    text-transform: uppercase;
    width: 208px;
}
.article #article-meta .posted span {
    display: block;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article #article-meta .updated_posted em {
    color: #e2007c;
    font-weight: bold;
}
.article #article-meta .type {
    color: #e2007c;
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article #article-meta .type a {
    color: #e2007c;
    font-weight: bold;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.article #article-meta .share {
    height: 25px;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}
.article #article-meta .google_plus1 {
    float: left;
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 95px;
}
.article #article-meta .share-button {
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article #article-meta .share-button.stumbleupon {
    clear: both;
}
.article .landscape #article-meta .share-button.stumbleupon {
    clear: none;
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 0;
    margin-top: 3px;
}
.article .landscape #article-meta {
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}
.article .landscape #article-meta .share {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    position: relative;
    width: 465px;
}
.article .landscape #article-meta .google_plus1, .article .landscape #article-meta .share-button {
    float: left;
}
.article .landscape #article-meta .pinterest {
}
.article .landscape #article-meta span {
    display: inline;
}
.fb_iframe_widget span {
    display: block !important;
}
.article #article-meta .type a:hover {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.article #article-meta .zoom-callout-2 {
    display: none;
}
.article .landscape #article-meta .zoom-callout-1 {
    display: none;
}
.article .landscape #article-meta .zoom-callout-2 {
    display: block;
    float: right;
}
.article #article-image {
    float: left;
    margin-bottom: 17px;
    margin-left: 0;
    margin-right: 19px;
    margin-top: 0;
    width: 240px;
}
.article .landscape #article-image {
    clear: both;
    display: block;
    float: none;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    width: 467px;
}
.article #article-image img {
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 240px;
}
.article .landscape #article-image img {
    width: auto;
}
.article #article-image .caption {
    clear: both;
    color: #999999;
    display: block;
    font-size: 10px;
}
.article #article-body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article #article-body p a {
    color: #009bd5;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.article #article-body p a:only-child {
    font-size: 1.1em;
}
a:hover {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.article #article-body .in-article-link {
    color: #009bd5;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.article #article-body .in-article-link:hover {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.article .follow {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article #comments #no-auth {
    height: 50px;
}
.byline a {
    color: #00aeef;
}
.poll #article-body p {
    clear: both;
}
.poll #article-content.landscape #poll-form {
    float: left;
    left: 50%;
    position: relative;
}
.poll #article-content.landscape .vote-holder {
    float: left;
    width: 80px;
}
.poll #article-content.landscape #poll-form form {
    float: left;
    left: -50%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
}
.poll #article-content.landscape #poll-form.three-choices form {
    width: auto;
}
.poll #article-content.landscape #poll-form .choices-holder {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 12px;
    margin-top: 0;
    width: auto;
}
.poll #article-content.landscape #poll-form #submit {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.poll #article-content.landscape #poll-form.three-choices .choices-holder {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 386px;
}
.poll #article-content.landscape #poll-form.three-choices .choices-holder .choice-wrap {
    float: left;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    width: 185px;
}
.poll #article-content.landscape #poll-results {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 360px;
}
.poll #article-content.landscape #poll-results.three-choices {
    width: 100%;
}
.poll #article-content.landscape #poll-results #results-bottom {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    width: 85px;
}
.poll #article-content.landscape #poll-results #results-wrap {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 55px;
    margin-top: 0;
    width: 220px;
}
.poll #article-content.landscape #poll-results.three-choices #results-bottom {
}
.poll #article-content.landscape #poll-results.three-choices #results-bottom #results-links {
    position: absolute;
    right: 0;
}
.poll #article-content.landscape #poll-results .total {
    float: left;
}
.poll #article-content.landscape #poll-results.three-choices .result {
    float: left;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    width: 228px;
}
.poll #article-content.landscape #poll-results.three-choices .back-to-poll {
    float: right;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
}
.article.video #article-video {
    clear: both;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.article.video #article-video div {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.article.video #article-meta {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
div.news-index ul.generic_archive li.latest {
    height: 210px;
}
div.related_content {
    clear: both;
    display: block;
    height: auto;
    margin-bottom: 20px;
    margin-left: 0;
}
#content-nav {
    margin-bottom: 27px;
}
.generic_archive .latest .article_promo_img {
    height: 218px !important;
}
.assetContainer.imageStandard {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.assetContainer.imageStandard .imageCredit, .assetContainer.imageStandard .imageCaption {
    color: #8b8b8b;
    font-size: 10px;
}
.wide-ad-wrapper .dartsz_728x90 div div {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.related_content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #ccc;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #ccc;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    position: relative;
}
.related_content .rcHeading {
    background-color: #fff;
    color: #009bd5;
    display: inline-block;
    font-family: "Relay",Arial,Helvetica,sans-serif;
    font-size: 17px;
    left: -1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 3px;
    padding-top: 0;
    position: absolute;
    text-transform: uppercase;
    top: -12px;
}
