/*@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);*/

body{margin:0 10%; padding:0;font-family: "Open Sans",sans-serif !important; font-size:14px !important;}
#main{border:1px solid #eee; border-collapse:collapse;}
h1{border-bottom: 1px dashed #1ea664 !important;color: #1ea664 !important;font-family: "Slabo 27px",serif !important;font-size: 36px !important;font-weight: 300 !important; margin: 10px 0 !important; padding-bottom: 15px !important; text-align: center !important;}

h1 span {color: #1ea664 !important;}

h2 {border-bottom: 1px solid #666 !important; border-left: 7px solid #1ea664 !important;color: #404142 !important;font-family: "Open Sans",sans-serif !important;font-size: 20px !important;font-weight: 600 !important;margin: 40px 0 10px 0 !important;padding: 0 0 8px 15px !important;}

h2 span {color: #404142 !important; font-weight: 400 !important;}
p{
  font-family: 'Open Sans';
}
table, img, blockquote {page-break-inside: avoid !important;}

ul{font-size:16px !important;}
p, pre{ margin-left:15px !important;}
table, tr, td{ border:1px solid #92f7e0 !important; border-collapse: collapse !important;}
table tr td p {font-size:14px !important;}

table tr td{background: #e9fff9 !important; padding:3px !important;}
table tr:first-child td{background: #1ea664!important; color:#FFF !important;}	

ul p a {text-decoration:none !important; color: #333 !important; border-bottom: 1px dashed #333 !important;}
ul a {text-decoration:none !important; color: #333 !important; border-bottom: 1px  dashed #333 !important;}

h1 span strong{font-family: "Slabo 27px",serif !important;font-size: 36px !important;font-weight: 300 !important;}
h1 span span{font-family: "Slabo 27px",serif !important;font-size: 36px !important;font-weight: 300 !important;}
p span span{font-size:14px !important;}
p span strong{font-size:14px !important;}
p a {text-decoration:none !important; color: #333 !important; border-bottom: 1px dashed #333 !important; font-weight:600 !important;}
p a img{width:auto !important; height:auto !important;}
p span img{margin:0 15px 0 15px !important;}


